@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap');

:root{
  --main-color: #00FF00;
  --color-secondary: #000000;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body{
  background-color: var(--color-secondary);
  color: var(--main-color);
  font-family: monospace;
  text-transform: uppercase;
}

.text__container{
  width: 100%;
  height: auto;
}

.main__menu h1{
  font-family: "Jersey 20", sans-serif;
  margin-bottom: 1rem;
}

.main__menu h1 span{
  font-size: 3rem;
}

.main__menu .invalid-option__menu{
  margin-top: .3rem;
}

.text__box{
  width: 100%;
}

#textBox {
  width: 100%;
  height: 1.5rem;
  outline: none;
  border: none;
  background-color: var(--color-secondary);
  color: var(--main-color);
  padding: 5px; 
  font-family: monospace;
  text-transform: uppercase;
}

#textBox::placeholder{
  color: var(--main-color);
}

.hidden{
  display: none;
}

.version-game{
  position: absolute;
  bottom: 0;
}

.creat-by{
  position: absolute;
  bottom: 0;
  right: 50%;
}

.creat-by h4 a{
  color: #0d8b13;
  font-weight: bold;
  font-family: monospace;
  text-decoration: none;
}